table{
    background-color: rgb(107, 0, 1);
    border-collapse: separate;
}
table tr{
    background-color: #fff;
    border:0;
    border-radius:20px;
}
tr small{
    display: block;
    top: 0;
    font-size: 10px;
}
tr td ul li{
    list-style: none;
}
.tr1 td{
    background: white;
}
.tr2 td{
    background: rgb(199, 199, 199);
}
.tr3 td{
    background: white;
}
.tr4 td{
    background: rgb(199, 199, 199);
}
.tr5 td{
    background: white;
}
.tr6 td{
    background: rgb(199, 199, 199);
}

.trspc{
    background-color: rgb(190, 190, 190);
}