#dashNoticias{
    background: rgb(78, 136, 243);
    color: #fff;
    font-size: 20px;
}
#dashCultura{
    background: rgb(107,0,0);
    color: #fff;
    font-size: 20px;
}
#dashMundo{
    background: rgb(45, 121, 45);
    color: #fff;
    font-size: 20px;
}
div article{
    box-shadow:0px 4px 5px -1px #000000;
}
div article div a{
    display: block;
    color: rgb(36, 187, 187);
    text-decoration: none;
}
.cmpEsquerdo div, .cmpDireito div, .cmpCentro div{
    margin-top: 20px;
}
.cmpEsquerdo div, .cmpEsquerdo .linha1 {
    background: rgb(97, 97, 211);
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.cmpCentro div, .cmpCentro .linha1{
    background: rgb(58, 100, 50);
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.cmpDireito div, .cmpDireito .linha1{
    background: rgb(170, 125, 70);
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.cmpEsquerdo a{
    display: block;
}
.cmpCentro a{
    display: block;
}
.cmpDireito a{
    display:block
}
.linha1{
    margin-top: 5px;
}
.linha2{
    margin-top: 5px;
    background: rgb(153, 153, 61);
    color: white;
    text-decoration: none;
    text-align: center;
}
.linha3{
    margin-top: 5px;
    background: rgb(61, 121, 121);
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
}