*{
    margin:0;
    padding:0;
}
html, body{
    height: 100%
}
body{
    min-height: 100%;
    position:relative;
}
main{
    padding-top: 25px ;
    padding-bottom: 50px;
}
.p15t{
    padding-top: 15px;
}
nav{
    width: 100%;
    height: 50px;
    background-color: rgb(107, 1, 1);
}
.cabecalho{
    background: rgb(107, 1, 1);
}
nav .logo{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: 15px;
}
.logo{
    padding: 4px;
}
.logo i{
    color: #fff;
}
nav ul{
    float: left;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    line-height: 15px;
    padding: 7px;
    font-size: 15px;
    font-weight: 400;
    transition: none;
    text-align: center;
}
nav ul li a span, ul li a i{
    display: block;
}
nav ul li a i{
    font-size: 20px;
}
nav ul li a:hover{
    background-color: #fff;
    color: black;
    transition: 500ms ease-in-out;
}
footer{
    position: fixed;
    bottom: 0;
    width:98%;
    height: 50px;
    background-color: rgb(107, 1, 1);
    padding: 0 1%;
}
footer .copy{
    text-align: center;
}
footer .logoFooter{
    color: #fff;
    float: right;
    text-align: right;
}
footer .suporte a{
    color: black;
    text-decoration: none;
    text-align: left;
}
